;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/jaagr/polybar
;
;   The README contains a lot of information
;
;==========================================================

;include-file = $HOME/.config/leftwm/themes/current/polybar.modules

[colors]
foreground = #FFFFFF
foreground-alt = #75715e
background = #272822
background-lighter = #4A433D
background-darker = #181915
alert = #f9246f

[bar/mainbar0]
inherit = bar/barbase
modules-left = workspace0

[bar/mainbar1]
inherit = bar/barbase
modules-left = workspace1

[bar/barbase]
width = 100%:-36
monitor = ${env:monitor}
offset-x = 18
offset-y = 18
height = 26
fixed-center = true
bottom = false
background = ${color.background}
foreground = ${color.foreground}
line-size = 2
line-color = #f00
border-size = 3
border-color = ${colors.background-lighter}
padding-left = 0
padding-right = 1
module-margin-left = 1
module-margin-right = 1
font-0 = FiraCode Nerd Font Frozen:pixelsize=12;3
font-1 = FiraCode Nerd Font Frozen:pixelsize=14;2 # For larger icons
modules-center =
modules-right = 
tray-position = right
tray-padding = 1
cursor-click = poin9D7153ter
cursor-scroll = ns-resize

[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t "$SCRIPTPATH/polybar.liquid"
tail = true

[module/workspace1]
type = custom/script
exec = leftwm-state -w 1 -t "$SCRIPTPATH/polybar.liquid"
tail = true

[settings]
screenchange-reload = true
throttle-output = 5
throttle-output-for = 10
compositing-background = source
compositing-foreground = over
compositing-overline = over
compositing-underline = over
compositing-border = over
pseudo-transparency = true

[global/wm]
margin-top = 0
margin-bottom = 0